[package]
name = "example"
version = "0.1.0"
edition = "2018"
build = "src/build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
swift-rs = { path = "../" }

[build-dependencies]
swift-rs = { path = "../" }